.landing-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.text {
  color: var(--MauveColor);
  font-size: var(--fs-xxl);
}

.subText {
  color: var(--MauveColor);
  font-size: var(--fs-lg);
}

.centerTextInDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 
  for the gap between 
  scrollDown
  and
  Location-Component
*/
.centerTextInDiv>div p {
  margin: 0;
  padding: 0;
}
